@import 'vars';

@mixin transAll() {
  transition: all 200ms ease-in-out;
}

::selection {
  background: transparent;
  color: $card-bg;
}

html, body {
  overflow-x: hidden;
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 1.5;
  background: $bg;
  color: $color;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 36px 0 24px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 24px 0 18px;
  text-shadow: 3px 3px 3px $dark-bg;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 12px 0 8px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: $brand-primary;
  text-decoration: none;
  @include transAll;
  &:hover, &:focus, &:active, &.active {
    color: darken($brand-primary, 30%);
    text-decoration: none;
  }
}

.form {
  background: $content-bg;
  padding: 15px;
  bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 2px;
    margin-top: 15px;
    @include transAll;
  }
  .form-control {
    height: 38px !important;
    background: $bg;
    border-color: $dark-bg;
    color: $color;
    border-radius: 2px;
    @include transAll;
    &:focus {
      background: $bg;
      color: $color;
      border-color: $brand-primary;
      box-shadow: 0 0 10px $brand-primary;
    }
    &:disabled {
      background: $bg;
    }
    &[type='password'] {
      text-align: center;
    }
    &.failed {
      border-color: $brand-secondary;
      box-shadow: 0 0 10px $brand-secondary;
      animation: shake 200ms linear 0s 2;
    }
  }
}

#words {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  .word {
    position: relative;
    padding: 5px 15px;
    border: 1px solid transparent;
    &.invalid {
      border-color: $brand-secondary;
    }
    &:before {
      content: attr(title);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 90%;
      padding: 5px 15px;
      background: $dark-bg;
      border-radius: 2px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0 0 10px $dark-bg;
      transition: all 300ms ease-in-out;
    }
    &:hover, &:focus, &:active, &.active {
      &:before {
        opacity: 1;
        bottom: 110%;
      }
    }
  }
}

#lastChar {
  text-transform: uppercase;
  font-weight: 700;
  &.invalid {
    color: $brand-secondary;
  }
}

.quoteWrap {
  @media screen and (max-width: $screen-md-max) {
    display: none;
  }
  display: block;
  position: fixed;
  bottom: 35px;
  right: 35px;
  left: 50%;
  font-weight: 300;
  pointer-events: none;
  > span:not([id]) {
    font-size: 100px;
    display: block;
    position: absolute;
    line-height: 0;
    opacity: 0.02;
    &:first-of-type {
      top: -65px;
      left: -5px;
    }
    &:last-of-type {
      bottom: -35px;
      right: -40px;
    }
  }
  #quote {
    font-size: 24px;
    line-height: 1.5;
    text-align: right;
    display: block;
    opacity: 0.07;
    &:first-letter {
      font-size: 50px;
      line-height: 0;
      font-style: italic;
    }
  }
}

.hidden {
  display: none;
}

.btn-outline {
  background: transparent;
  line-height: 24px;
  &.btn-primary {
    color: $brand-primary;
  }
  &.btn-success {
    color: $brand-success;
  }
  &.btn-danger {
    color: $brand-danger;
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
  }
}

.intro {
  margin-bottom: 15px;
  line-height: 1;
}

.alert {
  width: auto;
  max-width: 100%;
  position: fixed;
  margin: 0;
  bottom: 0;
  left: 50%;
  border-radius: 0;
  transform: translate(-50%, -10%);
  transition: transform 0.3s ease-in-out;
  &.down {
    transform: translate(-50%, 100%);
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    line-height: 20px;
    display: block;
    width: 20px;
    height: 20px;
    outline: none;
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}